<h1>Below is the day and time this session is held:</h1>

<ul>
<% @user_training.each do |training| %>
  <li> <%= "#{training.name} - #{training.instructor.name}" %> </li>
    <%= link_to "Cancel Session", user_training_path(@user_id, training.id), method: :delete %>
  <% end %>
</ul>

<%= link_to "View Instructors", instructors_path %>
