<h1>Welcome!</h1>
<h2>Here are your list of certified instructors:</h2>

<% @instructor.each do |instructor| %>
    <li><%= link_to "#{instructor.name}", instructor_path(instructor.id) %></li>
  <% end %>
